PORT=8787
AUTH0_DOMAIN=jcinusantara.au.auth0.com
AUTH0_CLIENT_ID=mtqoesYTL9qIppPMLlV2A1mghsHpixwV
AUTH0_AUDIENCE=
AUTH0_ROLES_CLAIM=https://jci.app/roles

DIRECTUS_URL=https://staging.cms.jcinusantara.or.id
DIRECTUS_STATIC_TOKEN=
DIRECTUS_EMAIL=
DIRECTUS_PASSWORD=
DIRECTUS_MEMBERS_COLLECTION=profiles
