PORT=8787
AUTH0_DOMAIN=auth.jcinusantara.or.id
AUTH0_CLIENT_ID=mtqoesYTL9qIppPMLlV2A1mghsHpixwV
AUTH0_AUDIENCE=
AUTH0_ROLES_CLAIM=https://jcinusantara.or.id/roles

DIRECTUS_URL=https://staging.data.jcinusantara.or.id
DIRECTUS_STATIC_TOKEN=
DIRECTUS_EMAIL=
DIRECTUS_PASSWORD=
DIRECTUS_MEMBERS_COLLECTION=profiles

SALEOR_API_URL=http://localhost:8000/graphql/
SALEOR_API_TOKEN=
SALEOR_CHANNEL_ID=
MIDTRANS_SERVER_KEY=
MIDTRANS_IS_PRODUCTION=false
PUBLIC_BASE_URL=
MIDTRANS_NOTIFICATION_URL=
DEV_AUTH_BYPASS_SNAP=false
DIRECTUS_SYNC_WEBHOOK_SECRET=
DIRECTUS_EVENTS_COLLECTION=events
DIRECTUS_EVENT_TICKETS_COLLECTION=event_tickets
DIRECTUS_SYNC_LOG_ENABLED=true
DIRECTUS_SYNC_LOG_COLLECTION=vendure_sync_logs
DIRECTUS_SUBSCRIPTION_COLLECTION=subscription
SALEOR_SYNC_PRODUCT_TYPE_ID=
SALEOR_SYNC_PRODUCT_TYPE_NAME=
SALEOR_SYNC_CATEGORY_ID=
SALEOR_SYNC_WAREHOUSE_ID=

GOOGLE_WORKSPACE_PROVISIONING_ENABLED=false
GOOGLE_WORKSPACE_DOMAIN=
GOOGLE_WORKSPACE_ADMIN_SUBJECT=
GOOGLE_WORKSPACE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_WORKSPACE_SERVICE_ACCOUNT_PRIVATE_KEY=
GOOGLE_WORKSPACE_REQUIRED_ORDER_KEYWORD=membership
GOOGLE_WORKSPACE_DEFAULT_ORG_UNIT_PATH=/
